
:root {
  --background: #115973;
  --primary: #2098b0;
  --secondary: #6c757d;
  --details: #f85c30;
  --dark: #06080a;
  --text: #f5f5f5;
  --test1: red;
  --test2: blue;
  --test3: yellow;
}

h1,
h2,
h3 {
  color: var(--primary);
  /* font-family: "Roboto", serif; */
  font-family: 'Bitter', serif;

}
h4,
h5,
h6 {
  /* color: var(--primary); */
  /* font-family: "Roboto", serif; */
  font-family: 'Bitter', serif;

}
.nav-link{
  font-family: 'Bitter', serif !important;

}

p {
  color: var(--secondary);
  font-family: 'Bitter', serif;

  
}
.carrusel img {
  opacity: 0.9;
}
.contenedor{
  min-height: 600px;
}
.cortar{
  width:250px;
  height:30px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden; 
}