body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iconLogin {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  color: cornflowerblue;
}
.carritoLabel {
  margin-top: -45px;
  margin-left: 90px;
}
.carritoLabel1 {
  margin-top: 5px;
  margin-left: 90px;
}
.ancho {
  width: 100%;
}
.carritotarjeta {
  margin-top: -40px;
  margin-left: 90px;
}
.carritotarjeta1 {
  margin-top: -5px;
  margin-left: 90px;
}
.imgpaypal {
  width: 150px;
  height: 90px;
}