.component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .spinner {
    width: 4rem;
    height: 4rem;
    border: 3px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: rotation 0.8s ease infinite;
  }
  
  .rclogo-center {
    position: relative;
    top: -52px;
    left: 12px;
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
    color: gray;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner-container {
    width: 4rem;
    height: 4rem;
  }